@import 'store/main.css';
@import 'cart/main.css';

body {
  margin: 0;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #1a1a1a;
  background-color: #f9f9f9;
}

h1 {
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #2e5cff;
}
a:hover { opacity: .9 }

small { font-size: .8em }

header {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 1px solid #ececec;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .logo {
  font-size: 25px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  color: #1a1a1a;
}

header .logo em {
  margin-right: 15px;
  color: #2e5cff;
  font-size: 50px;
}

header nav ul {
  list-style: none;
}

header nav ul > li {
  display: inline-block;
  margin-left: 15px;
}

main {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  background-color: white;
  padding: 20px;
  border: 1px solid #ececec;
  margin-bottom: 20px;
}

.commentator {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  animation-name: display-commentator;
  animation-duration: 1.5s;
}

@keyframes display-commentator {
  10%  { opacity: 1 }
  100% { opacity: 0 }

  from { top: 0 }
  to   { top: -40px }
}
