.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-form input {
  flex: 1;
  padding: 20px;
  font-size: 1em;
  font-weight: 100;
  outline: none;
  transition: .5s;
  border: 1px solid #ececec;
}

.store {
  display: flex;
}

.store products-filter {
  flex-basis: 18%;
  padding-right: 10px;
}

.store products-filter ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.store products-filter ul > filter-type { display: block }
.store products-filter ul > filter-type a {
  display: block;
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1em;
  color: black;
  text-transform: capitalize;
  background-color: white;
  border: 1px solid #ececec;
}
.store products-filter ul > filter-type a.active {
  color: white;
  background-color: #ff2e5c;
  border: 1px solid #ff2e5c;
}
.store products-filter ul > li a {
  display: block;
  cursor: pointer;
  padding-right: 20px;
  padding-bottom: 20px;
}

.store .products {
  display: flex;
  flex-basis: 82%;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
}

product-preview {
  width: calc(25% - 10px);
  margin-bottom: 10px;
  margin-right: 8px;
  background-color: white;
  border: 1px solid #ececec;
}

product-preview:nth-child(4n) { margin-right: 0 }

/* Product images */
product-preview .image {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% auto;
}

/* Preview about product */
product-preview p {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}
product-preview .price { font-size: 30px }

/* Preview bottom action buttons */
product-preview footer {
  display: flex;
  position: relative
}
product-preview footer a {
  flex: 1;
  padding: 20px;
  color: white;
  background-color: #2e5cff;
  text-align: center
}
product-preview footer a:first-child { background-color: #ff2e5c }
