
.product {
  margin-top: 20px;
  display: flex;
  background-color: white;
}

.product .info,
.product .image {
  flex: 1;
}

.product .image {
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center center;
}

.product .info h1,
.product .info .price,
.product .info .description {
  padding-left: 10px;
  padding-right: 10px;
}
.product .info h1 {
  font-size: 30px;
  margin-top: 30px;
}

.product .info .price {
  font-size: 40px;
  font-weight: bold;
}

.product .info .description {
  margin-bottom: 30px;
}

.product .actions {
  position: relative;
}

.product .actions a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  background-color: #2e5cff;
  text-align: center;
}

commentator {
  left: 0;
  text-align: center;
}
