<div class="header">
  <h1>Cart</h1>

  <p ng-show="cartIsEmpty()">
    You cart is empty. Please visit our <a href="#/store">store</a> to buy some stuff to save your money by using clear energy.
  </p>
</div>

<table ng-hide="cartIsEmpty()">
  <thead>
    <tr>
      <td>Product</td>
      <td>Price</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products track by $index">
      <td>
        {{ product.name }}
        <br />
        <a href="#/products/{{ product.id }}">
          <small>Show details</small>
        </a>
      </td>
      <td>{{ product.price | currency }}</td>
      <td class="actions">
        <a href="javascript:void(0)" ng-click="removeProduct(product, this)">
          <em class="far fa-trash-alt"></em> Delete
        </a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>{{ totalPrice() | currency }}</td>
      <td>
        <a href="javascript:void(0)" ng-click="finishOrder()">Finish order</a>
      </td>
    </tr>
  </tbody>
</table>
