<div class="header">
  <h1>Store</h1>
  <p>Some useful text or tip that will help you to choose the right device.</p>
</div>

<form class="search-form">
  <input type="text" ng-model="search.name" placeholder="Search..." />
</form>

<section class="store">
  <products-filter></products-filter>

  <div class="products" ng-controller="StoreIndexController">
    <product-preview ng-repeat="product in products | filter:search | filter:currentFilter"></product-preview>
  </section>
</section>
