<a href="#/store" class="back">< Back to store</a>

<div class="product">
  <div class="image {{ product.type }}"></div>
  <div class="info">
    <h1>{{ product.name }}</h1>
    <p class="price">{{ product.price | currency }}</p>

    <div class="description">{{ product.description }}</div>

    <div class="actions">
      <a ng-click="addToCart()" href="javascript:void(0)" commentator>+ Add to cart</a>
    </div>
  </div>
</div>
