<ul>
  <li>
    <a ng-click="resetFilter()">Reset filter</a>
  </li>
  <filter-type type="aquion"></filter-type>
  <filter-type type="dayliff"></filter-type>
  <filter-type type="mightymax"></filter-type>
  <filter-type type="neutron"></filter-type>
  <filter-type type="shorai"></filter-type>
  <filter-type type="universal"></filter-type>
</ul>
