<div class="image {{ product.type }}"></div>

<p>{{ product.name }}</p>
<p class="price">{{ product.price | currency }}</p>

<footer>
  <a ng-href="#/products/{{ product.id }}">Details</a>
  <a ng-click="addToCart(product)" commentator>Details</a>
</footer>
