
table {
  width: 100%;
  border: 1px solid #ececec;
}

table thead,
table tbody { background-color: white }

table thead td {
  font-weight: bold;
}

table td {
  padding: 20px;
}

table td.actions a:last-child { color: #ff2e5c }
